#root {
  margin: 0 auto;
  padding: 2rem;
  width: 100vw;
  height: 100vh;
}

@keyframes PlaceholderPulse {
    0% {opacity: 0;}
    25% {opacity: 0.5;}
    50% {opacity: 0.5;}
    100% {opacity: 0;}
}

@import "tailwindcss";
@plugin "daisyui";